@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
  }

  body {
    @apply bg-background text-foreground antialiased;
    font-family: 'Inter', sans-serif;
  }

  /* Personalização da Barra de Rolagem */
  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-gray-300 rounded-full;
  }

  ::-webkit-scrollbar-thumb:hover {
    @apply bg-blue-400;
  }

  /* Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: #cbd5e1 transparent;
  }
}

@layer utilities {
  .font-inter {
    font-family: 'Inter', sans-serif;
  }
}
